docker-compose copy.txt
hs_err_pid19544.log
order-service.zip
payment-service.zip
PaymentServiceAPI.zip
payment-service/hs_err_pid11176.log
payment-service/hs_err_pid25948.log
payment-service/hs_err_pid26804.log
payment-service/replay_pid11176.log
